body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Section header sart */

.section-header {
    background-image: url("img/telsiai.jpg");
    background-size: cover;
    background-position: center;
    height: 33.33vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header h1 {
    color: white;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 3px;
}

.section-header p {
    color: white;
    background-color: darkslateblue;
    padding: 5px 10px;
    border-radius: 3px;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}   

/* Section header end */

.section-attractions {
    height: 33.33vh;
}

.activities-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: lightgray;
}

.img-museum {
    background-image: url(img/patranka.jpg);
    background-size: cover;
    background-position: center;
}

.img-lake-swimming {
    background-image: url(img/img-lake-swimming.jpg);
    background-size: cover;
    background-position: center;
}

.img-cafe {
    background-image: url(img/caffe.jpg);
    background-size: cover;
    background-position: center;
}

.section-attractions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
}

.activities {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.activity-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}

/* Guide section */
.guide-photo {
    background-image: url(img/guide.jpg);
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.section-guide {
    display: flex;
    justify-content: center;
    height: 33.33vh;
    align-items: center;
}

.guide-box {
    display: flex;
    width: 400px;
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.guide-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}






